.project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.project h1 {
  margin-top: 50px;
  color: #3e497a;
  font-size: 35px;
}
.project img {
  width: 700px;
  border-radius: 10px;
}

.project p {
  font-size: 40px;
  color: #3e497a;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
}

.image-container{
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: contain;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.image-container:hover{
  background-color: whitesmoke;
  border-radius: 10px;
}

.image-container img{
  width: 100px;
  height: auto;
}

.image-container a{
  text-decoration: none;
}
.image-container p{
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
}