:root {
    --main-color: #52e4ee;
  }

.wrapper{
    display: inline-flex;
    margin: 30px 0;
    /* overflow: hidden; */
}

.wrapper .static {
    font-size: 30px;
    font-weight: 600;
    margin-right: 10px;
}

.wrapper .dynamic {
    color: var(--main-color);
    list-style: none;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    height: 34px;
    overflow: hidden;
}

.dynamic li{
    animation: slide 4.5s steps(3) infinite;
    position: relative;
    top:0;
    margin: 0;
    padding: 0;
}

@keyframes slide {
    100%{
        top: -102px;
    }
}

.dynamic li span {
    position: relative;
}

.dynamic li span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid;
    left: 0;
    animation: typing 1.5s steps(10) infinite;
    background: #c83072;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px
    }
}